* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: whitesmoke;
    font-family: Avenir;
}

p {
    margin: 0.5em 0 0.5em 0;
    overflow: hidden
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #231f20;
    padding: 10px;
}

p {
    text-align: justify;
}

nav a:visited, nav a:link{
    color: #ffffff;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 0 10px;
}

main {
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

#mainphoto {
    width: 50%;
    float: right;
    clear: left;
}

#skills {
    border: 2px solid #231f20;
    overflow: auto;
    padding: 12px;
    width: 20%
}

footer {
    background-color: #231f20;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

article {
    padding: 2em;
}

h3, h4 {
    color: #e07c63;
}

article > h1 {
    font-size: 50pt;
}

.links:hover {
    color: #e07c63
}

.links:active {
    text-decoration: underline
}

@media only screen and (min-width: 768px) {

    main {
        display: flex;
    }

    #mainphoto {
        margin-left: 2%;
    }
}